div.butn,div.butn:hover {
	display: inline-block;
	display: -moz-inline-stack; *
	display: inline;
	zoom: 1;
	margin: 0;
	border: 0;
	padding: 0 5px 0 0;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
	width: auto; *
	overflow: visible;
	border: 0 none;
	background-color: none;
	vertical-align: middle;
}

div.butn {
	background: url("#{jsfrfEnv.imagePath}button/idle/right.png") right
		no-repeat;
}

div.butn:hover {
	background: url("#{jsfrfEnv.imagePath}button/hover/right.png") right
		no-repeat;
}

div.butnDisabled {
	display: inline-block;
	display: -moz-inline-stack; *
	display: inline;
	zoom: 1;
	margin: 0;
	border: 0;
	padding: 0 5px 0 0;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	background: url("#{jsfrfEnv.imagePath}button/disabled/right.png")
		right no-repeat;
	width: auto; *
	overflow: visible;
	border: 0 none;
	background-color: none;
	vertical-align: middle;
	cursor: default;
}

div.butn div,div.butn:hover div {
	display: inline-block;
	display: -moz-inline-stack; *
	display: inline;
	zoom: 1;
	padding: 0 0 0 5px;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
}

div.butn div {
	background: url("#{jsfrfEnv.imagePath}button/idle/left.png") left no-repeat;
}

div.butn:hover div {
	background: url("#{jsfrfEnv.imagePath}button/hover/left.png") left no-repeat;
}

div.butnDisabled div {
	display: inline-block;
	display: -moz-inline-stack; *
	display: inline;
	zoom: 1;
	padding: 0 0 0 5px;
	white-space: nowrap;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	background: url("#{jsfrfEnv.imagePath}button/disabled/left.png") left
		no-repeat;
}


div.butn div div,div.butn:hover div div {
	padding: 0;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
	white-space: nowrap;
}

div.butn div div {
	background: url("#{jsfrfEnv.imagePath}button/idle/middle.png") left repeat-x;
}

div.butn:hover div div {
	background: url("#{jsfrfEnv.imagePath}button/hover/middle.png") left repeat-x;
}

div.butnDisabled div div {
	padding: 0;
	height: 25px;
	line-height: 25px;
	cursor: default;
	background: url("#{jsfrfEnv.imagePath}button/disabled/middle.png")
		left repeat-x;
}

.btnText {
	font-family: Verdana;
	font-size: 11px;
	white-space:nowrap;
	color: #254117;
}

.shorter_width {
	min-width: 80px;
	width: auto;
}