a,a:link,a:visited {
	background-color: #fff;
	border: 1px solid #999;
	margin: 2px;
	padding: 2px;
	text-decoration: none;
	text-align: center;
	color: #0066CC;
	font-size: 14px;
	font-family: 'comic sans ms', 'monaco', 'tahoma', 'arial', 'verdana';
}

a:hover {
	background-color: #fff;
	border: 1px solid #ff;
	margin: 2px;
	padding: 2px;
	text-decoration: none;
	text-align: center;
	color: #0066CC;
	font-size: 14px;
	font-family: 'comic sans ms', 'monaco', 'tahoma', 'arial', 'verdana';
	padding: 2px;
}

td{
	height:33px;
}