body {
	margin-left: 33px;
	margin-top: 33px;
	background-color: #F5F5F5;
}

input,select,textarea,button,keygen,isindex,legend,a {
	color: #0066CC;
	font-family: Consolas, Verdana;
	font-size: 15px;
	font-style: normal;
}

.b{
	font-weight: bold;
}

.dotBorder
{
	border-style:dotted;
	border-color:Red;
	border-width:1px;	
}